@model Jogador

@{
    ViewData["Title"] = "Jogador";
}
<link rel="stylesheet" href="~/css/jogadores.css">


@if (ViewBag.UserName == null)
{
    <h1>Tela de Jogador</h1>
    <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
}
else
{
    <main>

        <section class="container-grid cadastro-equipes">


            <form class="frm-cad-equipe" method="post" action='@Url.Action("Cadastrar")' enctype="multipart/form-data">
                <div class="cadequipe-titulo">
                    <h1>Cadastro de Jogadores</h1>
                    <hr>
                </div>

                <select class="campo-entrada" id="equipe-select" name="IdEquipe" required>
                    <option value="">Selecione uma equipe</option>
                    @foreach (Equipe equipe in ViewBag.Equipe)
                    {
                        <option value="@equipe.IdEquipe">@equipe.Nome</option>
                    }
                </select>

                <input class="campo-entrada" type="text" name="Nome" required id="nome-jogador"
                    placeholder="Digite o nome do Jogador:">
                <input class="campo-entrada" type="email" name="Email" required id="email-jogador"
                    placeholder="Digite o Email do Jogador:">
                <input class="campo-entrada" type="password" name="Senha" required id="senha" placeholder="Digite a Senha:">

                <button type="submit">Cadastrar</button>




            </form>

            <!-- TABELA CADASTRO DE EQUIPES -->

            <table>
                <thead>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Equipe</th>
                    <th>Ações</th>
                </thead>

                <tbody>
                    @foreach (Jogador jogador in ViewBag.Jogador)
                    {
                        <tr>
                            <td>@jogador.IdJogador</td>
                            <td>@jogador.Nome</td>
                            <td>@jogador.Email</td>
                            <td>
                                <img src="/img/Equipes/@jogador.Equipe.Imagem" alt="" width="50px">
                            </td>

                            <td>
                                <a asp-area="" asp-controller="Jogador" asp-action="Excluir"
                                    asp-route-id="@jogador.IdJogador">Excluir</a>
                            </td>
                            <td>
                                <a asp-area="" asp-controller="Jogador" asp-action="Editar"
                                    asp-route-id="@jogador.IdJogador">Editar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </main>
}


